.container{
  text-align: center;
  width: 570px;
  margin-top: 15%;
}

.btn-sample{
  width: 300px;
  margin-top: 10px;
}

body{
  background-color: #f6f2f7;
}

.input-div{
  text-align: center;
}

h3{
  margin-bottom: 10%;
  flex: 1;
  color: #517d6a;
}

h6{
  margin-top: 15%;
  color: #79797d;
  /* somthing */
}

.sign-up-form{
  /* margin-top: 10px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-group{
  width: 50%;
  margin: auto;
}

.logo{
  width: 544px;
  margin: auto;
}

.top{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.middle{
  border-radius: 0;
}
.bottom{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-sample { 
  color: #FFFFFF; 
  background-color: #517D6A; 
  border-color: #FFFFFF; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #FFFFFF; 
  background-color: #3c5d4f; 
  border-color: #FFFFFF; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #517D6A; 
  border-color: #FFFFFF; 
} 
 
.btn-sample .badge { 
  color: #517D6A; 
  background-color: #FFFFFF; 
}