<%- include('../partials/pageHead') -%>
<body>
  <div class="container">
    <img class="logo" src="img/shaheen_salim_logo.png" />
    <div class="input-div input-group">
      <h3><%= header %></h3>
      <form action="/return" method="post" class="sign-up-form">
        <button type="submit" class="form-control btn btn-sample"><%= button %></button>
      </form>
    </div>
    <h6>&copy; Shaheen Salim</h6>
  </div>
</body>
<%- include('../partials/pageTail') -%>
</html>