<%- include('../partials/pageHead') -%>
<body>
  <div class="container">
    <img class="logo" src="img/shaheen_salim_logo.png" />
    <div class="input-div input-group">
      <h3>Register your interest</h3>
      <form action="/" method="post" class="sign-up-form">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="fname" id="fname">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lname" id="lname">
        <input type="text" class="form-control" placeholder="Phone number" aria-label="Phone Number" name="phoneNumber" id="phoneNumber">
        <input type="email" class="form-control" placeholder="Email address" aria-label="Email address" name="email" id="email">
        <button type="submit" id="signup" class="form-control btn btn-sample disabled">Sign Up</button>
      </form>
    </div>
    <h6>&copy; Shaheen Salim</h6>
  </div>
</body>
<%- include('../partials/pageTail') -%>
</html>